<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>老鼠</string>
		<key>icon</key>
		<string>http://www.99danji.com/upload/20127/2012071232959689.jpg</string>
		<key>download</key>
		<string>100万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>头痒啊</string>
		<key>icon</key>
		<string>http://imgsrc.baidu.com/baike/pic/item/ae826731acb98c74eac4afff.jpg</string>
		<key>download</key>
		<string>180万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>快跑</string>
		<key>icon</key>
		<string>http://pic.58pic.com/58pic/17/02/15/31458PICHtD_1024.jpg</string>
		<key>download</key>
		<string>80万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>给你一踢击</string>
		<key>icon</key>
		<string>http://imgsrc.baidu.com/baike/pic/item/fc5e5f340b4d3400251f14b2.jpg</string>
		<key>download</key>
		<string>300万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>开会了</string>
		<key>icon</key>
		<string>http://p9.qhimg.com/t01aebabc7712ed89ec.jpg</string>
		<key>download</key>
		<string>75万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>激光炮</string>
		<key>icon</key>
		<string>http://img.tuku.cn/file_thumb/201409/m2014090901231032.jpg</string>
		<key>download</key>
		<string>138万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小捷豹</string>
		<key>icon</key>
		<string>http://imgsrc.baidu.com/image/c0%3Dshijue1%2C0%2C0%2C294%2C40/sign=27df7906e1c4b7452099bf55a7957462/42a98226cffc1e17a708731e4090f603738de96e.jpg</string>
		<key>download</key>
		<string>600万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>什么车</string>
		<key>icon</key>
		<string>http://pic.58pic.com/58pic/12/46/03/95f58PICjsh.jpg</string>
		<key>download</key>
		<string>476万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>侧开门</string>
		<key>icon</key>
		<string>http://imgsrc.baidu.com/imgad/pic/item/32fa828ba61ea8d3f7c2dc3d9c0a304e251f5822.jpg</string>
		<key>download</key>
		<string>512万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小白</string>
		<key>icon</key>
		<string>http://imgsrc.baidu.com/image/c0%3Dshijue1%2C0%2C0%2C294%2C40/sign=28d5540cba7eca80060831a4f94afda8/64380cd7912397dd3b806a2b5382b2b7d0a28720.jpg</string>
		<key>download</key>
		<string>394万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小红</string>
		<key>icon</key>
		<string>http://pic.58pic.com/58pic/12/02/13/07p58PICgGD.jpg</string>
		<key>download</key>
		<string>79万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>着火了</string>
		<key>icon</key>
		<string>http://pic1.16pic.com/00/07/85/16pic_785034_b.jpg</string>
		<key>download</key>
		<string>9万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>没有了</string>
		<key>icon</key>
		<string>http://pic.58pic.com/58pic/16/58/28/80M58PICTcs_1024.jpg</string>
		<key>download</key>
		<string>9982万</string>
	</dict>
</array>
</plist>
